<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        .image {
                position	: relative;
                width		: 100%; /* for IE 6 */
        }

        h2 {
            position	: absolute;
            top		: 50px;
            left		: 100px;
            width		: 100%;
            font-size: 30px;
            color: #ffffff;
        }

    </style>
    <title>О нас</title>
</head>
<body>
    <div class="image">
        <img src="https://cdn.pixabay.com/photo/2016/11/29/12/13/fence-1869401_960_720.jpg">
        <h2>Спасибо, что пользуетесь нашими услугами</h2>
    </div>
</body>
</html>


