{% extends "base.html" %}
{% block title %}
    О нас
{% endblock %}
{% block style %}
    {% include "inc/style.html" %}
{% endblock %}
{% block menu %}
    {% include "inc/menu.html" %}
{% endblock %}
{% block body %}

    <h1>О нас</h1>
    <p>
        Добро пожаловать на портал образовательной платформы Linuxoid.
        Для вас работают лучшие специалисты в области Linux-систем.
        Наша платформа предоставляет обучение по следующим направлениям:
    <ul>
        <li>Администрирование linux-систем</li>
        <li>Программирование в linux</li>
        <li>HA-кластеры</li>
        <li>Информационная безопасность</li>
        <li>Архитектура сетей</li>
    </ul>
    </p>

{% endblock %}
{% block footer %}
    {% include "inc/footer.html" %}
{% endblock %}
